.carousel {
  height: 450px !important;
}


.carousel-arrows {
  width: 64px;
  height: 64px;
  background: rgba(166, 166, 166, 0.5);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  i {
    font-size: 4.2rem;
    color: white;
  }
}

.carousel-fixed-item {
    bottom: 200px !important;
  }
